
body {
background-color: #4e407b;}

h1, h2, h3, h4, p, li, ol {
color: #edd1bc;
font-family: 'Tektur';}

.ok {
  background-color: #4e407b;
  border: none;
  color: #edd1bc;
  padding: 16px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: 'Tektur';
}

.ok:hover {
  background-color: #edd1bc;
  color: #4e407b;
}


.somai {
  margin-left: 400px;
  margin-right: 400px;
  border: 1px solid #edd1bc;
}

.somaa {
  margin-left: 200px;
  margin-right: 200px;
  border: 1px solid #edd1bc;
  padding-left: 30px;
}

pre {
    color: #fcf2eb;
	font-family: 'Amiko';
}
