
body {
    background-color: #0c0c14;}
    
    h1, h2, h3, h4, p, li, ol {
    color: #fff9eb;
    font-family: 'Afacad';}
    
    .ok {
      background-color: #0c0c14;
      border: none;
      color: #fff9eb;
      padding: 16px;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.3s;
      cursor: pointer;
      font-family: 'Afacad';
    }
    
    .ok:hover {
      background-color: #fff9eb;
      color: #0c0c14;
    }
    
    
    .somai {
      margin-left: 400px;
      margin-right: 400px;
      border: 1px solid #fff9eb;
    }
    
    .somaa {
      margin-left: 200px;
      margin-right: 200px;
      border: 1px solid #fff9eb;
      padding-left: 30px;
    }
    
    pre {
        color: #fff9eb;
        font-family: 'Manrope';
    }