
body {
background-color: #f4be16;}

h1, h2, h3, h4, p, pre, li, ol {
color: #bc2528;
font-family: 'Anton';}

.ok {
  background-color: #f4be16;
  border: none;
  color: #bc2528;
  padding: 16px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: 'Anton';
}

.ok:hover {
  background-color: #bc2528;
  color: #f4be16;
}


.somai {
  margin-left: 400px;
  margin-right: 400px;
  border: 1px solid #bc2528;
}

.somaa {
  margin-left: 200px;
  margin-right: 200px;
  border: 1px solid #bc2528;
  padding-left: 30px;
}

pre {
    color: black;
	font-family: 'Alexandria';
}
